<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: cabecera(titulo ='Salario Maximo por Departamento')">
</head>
<body>
<h2>Reporte de salario máximo por departamento </h2>
<a th:href="@{'/Search/indice'}" class="btn btn-danger">Regresar</a>
<table class="table table-sm">
    <tr>
        <th>Departamento</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Ciudad</th>
    </tr>
    <tr th:each="departamentos, info : ${listaDepartamentos}">
        <td th:text="${departamentos.department_name}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${departamentos.location.city}"></td>
    </tr>

</table>




</body>
</html>