<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Lista de Productos</title>
</head>
<body>
<div class="container">
    <h1>Lista de Productos</h1>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/product/new'}">Nuevo Producto</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <table class="table">
        <thead>
        <tr>

            <th>Nombre</th>
            <th>Apellido</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Fecha inicio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history: ${listaHistory}">

            <td th:text="${history.}"></td>
            <td th:text="${employee.last_name}"></td>
            <td th:text="${employee.job.job_tittle}"></td>
            <td th:text="${employee.department.}"></td>
            <td th:text="${employee.department.}"></td>
            <td th:text="${product.discontinued?'si':'no'}"></td>
            <td><a class="btn btn-primary" th:href="@{'/product/edit' + '?id=' + ${product.id}}">Editar</a>
            </td>
            <td><a class="btn btn-danger" th:href="@{'/product/delete' + '?id=' + ${product.id}}">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
